<h1>New Author</h1>

<p>
  <strong>first name:</strong>
  <%= @author.first_name %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @author.homepage %>
</p>